.navbar-container
    @include width-height(100%, 7rem)
    @include set-position(absolute,0,0)
    @include flexbox(row, flex-start, center, 5rem)
    // box-shadow: 0px 0px 24px 5px rgba(0,0,0,0.02)
    z-index:10
    background-color: transparent
    padding: 5.5rem 0 2rem 7rem

    .navbar-title
        @include set-font($white, "League Spartan", 3.4rem,500, normal)
    
    .links-container
        @include flexbox(row, space-between, center, 4rem)

        .navbar-link
            @include set-font($white, "League Spartan", 2rem,500, normal)
            cursor: pointer
            position: relative

            .selector
                @include width-height(80%, 0.3rem)
                background-color: white
                position: absolute
                top: 130%
                right: 0
                transition: all 0.2s linear
                opacity: 0

                &.selected
                    opacity: 1
